<a href="https://colab.research.google.com/github/Galaxyjunction/Class-Assignment03-Using-Python/blob/main/Class_Assignment03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 * Name: **Kehkashan**
 * Roll no.: **00434132**

 * Python Assignment List Tuples and methods :

1. Basic List Operations

2. Create a list of five numbers and append a new number to it. Print the updated list.

3. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

4. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

5. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

* Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

In [1]:
# 1. Create a list of five numbers and append a new number to it. Print the updated list.

numbers = [5, 10, 15, 20, 25]
numbers.append(30)
print("Updated List:", numbers)

Updated List: [5, 10, 15, 20, 25, 30]

In [2]:
# 2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print("Extended List:", list1)

Extended List: [1, 2, 3, 4, 5, 6]

In [4]:
# 3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

languages = ["Java", "C++", "JavaScript", "Ruby"]
languages.insert(2, "Python")
print("Modified List:", languages)

Modified List: ['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

In [5]:
# 4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

num_list = [10, 20, 30, 10, 40]
num_list.remove(10)
print("List after removing first 10:", num_list)

List after removing first 10: [20, 30, 10, 40]

In [6]:
# 5. Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

values = [100, 200, 300, 400]
values.pop()
print("List after popping last element:", values)

List after popping last element: [100, 200, 300]

* Intermediate List Operations

6.  Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.

9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the copied list and print both lists.

10. Clear all elements from a list [“hello”, “world”, “python”] using the clear() method.

In [11]:
# 6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

num_list = [5, 10, 5, 20, 5, 30]
count_five = num_list.count(5)
print("Count of 5:", count_five)

Count of 5: 3

In [9]:
# 7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

numbers = [9, 1, 8, 3, 5]
numbers.sort()
print("Ascending Order:", numbers)

numbers.sort(reverse=True)
print("Descending Order:", numbers)

Ascending Order: [1, 3, 5, 8, 9]
Descending Order: [9, 8, 5, 3, 1]

In [10]:
# 8. Reverse the list ["apple", "banana", "cherry"] using the reverse() method.

fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print("Reversed List:", fruits)

Reversed List: ['cherry', 'banana', 'apple']

In [12]:
 # 9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable.

original_list = [1, 2, 3, 4, 5]
copied_list = original_list.copy()

# Modify the copied list
copied_list.append(6)

print("Original List:", original_list)
print("Copied List (Modified):", copied_list)

Original List: [1, 2, 3, 4, 5]
Copied List (Modified): [1, 2, 3, 4, 5, 6]

In [13]:
# 10. Clear all elements from a list ["hello", "world", "python"] using the clear() method.

words = ["hello", "world", "python"]
words.clear()
print("Cleared List:", words)

Cleared List: []

* Tuple-Based Questions

11. Create a tuple with 5 different fruits and print the third fruit.
12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert it back into a tuple.
13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you modify a tuple indirectly?
14. Unpack the tuple (100, 200, 300) into three separate variables and print them.
15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [14]:
# 11. Create a tuple with 5 different fruits and print the third fruit.

fruits = ("apple", "banana", "cherry", "grape", "mango")
print("Third fruit:", fruits[2])

Third fruit: cherry

In [15]:
# 12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert it back into a tuple.

numbers_tuple = (10, 20, 30, 40, 50)
numbers_list = list(numbers_tuple)  # Convert to list
numbers_list.remove(30)  # Remove 30
numbers_tuple = tuple(numbers_list)  # Convert back to tuple
print("Modified Tuple:", numbers_tuple)

Modified Tuple: (10, 20, 40, 50)

In [16]:
# 13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you modify a tuple indirectly?

letters = ("A", "B", "C")
try:
    letters.append("D")  # Tuples are immutable, this will raise an AttributeError
except AttributeError as e:
    print("Error:", e)

# Indirectly modifying a tuple (convert to list, modify, then convert back to tuple)
letters_list = list(letters)
letters_list.append("D")
letters = tuple(letters_list)
print("Modified Tuple:", letters)

Error: 'tuple' object has no attribute 'append'
Modified Tuple: ('A', 'B', 'C', 'D')

In [17]:
# 14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

num_tuple = (100, 200, 300)
a, b, c = num_tuple
print("Unpacked values:", a, b, c)

Unpacked values: 100 200 300

In [18]:
# 5. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

count_tuple = (7, 1, 7, 3, 7, 5)
count_seven = count_tuple.count(7)
print("Occurrences of 7:", count_seven)

Occurrences of 7: 3

* Advanced Problems
16. Write a function that takes a list and returns a new list with all even numbers removed.
17. Create a function that accepts a list and returns a new list with elements sorted in descending order without using the sort() method.
18. Given a list of numbers, write a program to remove all duplicate elements and print the unique elements.
19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert it into a list, remove duplicates, and convert it back to a tuple.
20. Create a program that takes a list of mixed data types (int, str, float) and separates integers into one list, strings into another, and floats into another.

In [19]:
# 16. Function to remove all even numbers from a list

def remove_even_numbers(lst):
    return [num for num in lst if num % 2 != 0]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("List after removing evens:", remove_even_numbers(numbers))

List after removing evens: [1, 3, 5, 7, 9]

In [21]:
# 17. Function to sort a list in descending order without using sort()

def custom_sort_desc(lst):
    sorted_list = []
    while lst:
        max_val = max(lst)
        sorted_list.append(max_val)
        lst.remove(max_val)
    return sorted_list

numbers = [9, 1, 8, 3, 5]
print("Sorted List (Descending):", custom_sort_desc(numbers))

Sorted List (Descending): [9, 8, 5, 3, 1]

In [22]:
# 18. Remove duplicate elements from a list

def remove_duplicates(lst):
    return list(set(lst))

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]
print("Unique elements:", remove_duplicates(numbers))

Unique elements: [1, 2, 3, 4, 5, 6]

In [27]:
# 19.. Convert a tuple into a list, remove duplicates, and convert it back to a tuple

names_tuple = ("Kehkashan", "Iqra", "Manha", "Iqra", "Manha")
names_list = list(set(names_tuple))  # Convert to set to remove duplicates, then back to list
names_tuple = tuple(names_list)  # Convert back to tuple
print("Tuple after removing duplicates:", names_tuple)

Tuple after removing duplicates: ('Kehkashan', 'Manha', 'Iqra')

In [28]:
# 20. Separate integers, strings, and floats into different lists

def separate_data_types(mixed_list):
    int_list = [item for item in mixed_list if isinstance(item, int)]
    str_list = [item for item in mixed_list if isinstance(item, str)]
    float_list = [item for item in mixed_list if isinstance(item, float)]
    return int_list, str_list, float_list

mixed_data = [10, "hello", 3.5, 20, "world", 4.8, 30, "Python"]
integers, strings, floats = separate_data_types(mixed_data)
print("Integers:", integers)
print("Strings:", strings)
print("Floats:", floats)

Integers: [10, 20, 30]
Strings: ['hello', 'world', 'Python']
Floats: [3.5, 4.8]